<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <link rel="manifest" href="manifest.json">
  <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <!-- your app's js -->
  <script src="app.js"></script>
  <script src="controllers/form.controller.js"></script>
  <script src="controllers/app.controller.js"></script>
</head>

<body ng-app="starter" ng-controller="AppController">
  <ion-pane>
    <ion-header-bar class="bar-stable bar-calm" >
      <h1 class="title">Teste</h1>
      <button ng-click="modal.show()" class="button button-icon ion-compose"></button>
    </ion-header-bar>
    <ion-content class=" has-header has-footer" >
      <ion-list>
        <ion-item ng-repeat="contato in contatos">
          {{contato.nome}} - {{contato.email}}
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-calm">
      <div class="buttons">
        <buttons class="button">Botao</buttons>
      </div>
      <h1 class="title">Footer test</h1>
      <div class="buttons">
        <buttons class="button">Botao</buttons>
      </div>
    </ion-footer-bar>
  </ion-pane>
  <script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>  
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Novo contato</h1>
        <button ng-click="modal.hide()" class="button button-clear button-primary">Cancelar</button>
      </ion-header-bar>
      <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Nome</span>
              <input type="text" ng-model="contato.nome"> 
            </label>
            <label class="item item-input">
              <span class="input-label">E-mail</span>
              <input type="text" ng-model="contato.email"> 
            </label>
            <button ng-click="addContato(contato)" class="button button-full button-positive" >Cadastrar</button>
          </div>
        </ion-content>    
    </ion-modal-view>
  </script>

  <ion-nav-view>  </ion-nav-view>
</body>

</html>
